.pagination {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  gap: 8px;
  text-align: center;
}

.item {
  display: flex;
  min-width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--grey-light);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.item.active {
  background-color: var(--dark-blue);
  color: var(--white);
  transition: opacity 0.3s;
}

.item:hover {
  background-color: var(--blue);
  color: var(--white);
  fill: var(--white);
}

.item:active {
  opacity: 0.7;
}

.prev {
  transform: rotate(90deg);
}

.next {
  transform: rotate(-90deg);
}
