.root {
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 40px;
  border: 3px solid var(--grey);
  border-radius: 50%;
  border-bottom-color: var(--grey-border);
  animation: rotation 2s linear infinite;
  scrollbar-width: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation-after {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
