.fav {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey);
  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
}
