.root {
  all: unset;
  position: relative;
  display: inline-flex;
  width: auto;
  min-width: 140px;
  height: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 8px;
  appearance: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  transition: transform 0.1s ease-out;
  user-select: none;
  white-space: nowrap;
}

.root[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.primary {
  background-color: #0a2530;
  color: #fff;
}

.primary:hover {
  background-color: #05141a;
}

.primary:active {
  background-color: #05141a;
  transform: scale(0.98);
  transform-origin: 50% 50%;
}

.secondary {
  background-color: var(--blue);
  color: var(--white);
}

.root.isFullWidth {
  width: 100%;
}

.label {
  flex: 0 0 auto;
}

.icon {
  flex: 0 0 auto;
  margin-left: 8px;
  fill: currentColor;
  line-height: 1;
}
