.root {
  position: relative;
  border: 1px solid #edeef0;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 400;
}

.field {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 42px;
  justify-content: space-between;
  padding: 11px 14px;
  border-radius: 4px;
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.2;
}

.field:hover {
  color: var(--blue);
}

.dropdown {
  position: absolute;
  z-index: 1000;
  left: 0;

  display: flex;

  overflow: auto;
  width: 100%;
  height: 170px;
  flex-direction: column;
  padding: 10px 14px;
  background-color: var(--white);
  cursor: pointer;
}
.dropdown span {
  margin-left: 6px;
}
.checkboxInput {
  display: none;
}

.closed {
  color: gray;
}
.checkbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  background-color: var(--white);
  cursor: pointer;
}

.clearButton {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #fff;
  font-size: 16px;
}

.error {
  border: 0.001rem solid red;
}

.selected {
  background: var(--grey-border);
  font-size: 14px;
  font-weight: 700;
}
