.chips {
  display: flex;
  /* overflow: hidden; */
  max-width: 100vh;
  margin-bottom: 20px;
  gap: 8px;
  /* -ms-overflow-style: none; */
  /* overflow-x: auto; */
  /* scrollbar-width: none; */
}

.root {
  display: flex;
  max-width: 100%;
  margin-bottom: 20px;
  gap: 12px;
  /* -ms-overflow-style: none; */
  overflow-x: auto;
  scrollbar-width: none;
}
