.cardList {
  display: grid;
  margin-bottom: 20px;
  grid-gap: 8px;

  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 500px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .cardList {
    grid-template-columns: repeat(5, 1fr);
  }
}

.title {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 14px;
}

.more {
  color: rgba(10, 37, 48, 0.7);
  font-size: 14px;
  font-weight: 600;
}
