.cardList {
  display: grid;
  margin-bottom: 20px;
  grid-gap: 20px;

  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 500px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .cardList {
    grid-template-columns: repeat(5, 1fr);
  }
}
