.filter {
  padding: 16px 0 18px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  gap: 12px;
}

.form > * {
  flex: 1;
}

.block {
  position: relative;
}

.block .btn {
  width: 100%;
}

.block select,
.block input,
.block .choices__inner {
  width: 100%;
  padding: 10px 13px !important;
  border: 1px solid var(--grey-border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--grey);
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.block input:focus {
  border-color: var(--dark-blue);
}

.block .is-focused .choices__inner,
.block .is-open .choices__inner,
.block .is-open .choices__list--dropdown,
.block .is-open .choices__list[aria-expanded] {
  border-color: var(--dark-blue);
}

@media screen and (width <= 640px) {
  .form > * {
    flex: none;
  }

  .form .btn,
  .block_artist,
  .block_country {
    width: 100%;
  }

  .block_genre,
  .block_decade {
    width: calc(50% - 6px);
  }

  .list-items {
    gap: 12px;
  }

  .item-block {
    width: calc(50% - 6px);
  }
}
.btn-green {
  background-color: var(--dark-green);
}
