.root {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
}

/* .twoColumns {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
} */

.input {
  all: unset;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 7px 12px;
  border: 1px solid #edeef0;
  border-radius: 8px;
  background-color: #ffffff;
  color: #0a2530;
  line-height: 24px;
}

.input:focus {
  border-color: #0a2530;
}
