.inputContainer {
  position: relative;
}

.inputField {
  width: 100%;
  padding: 11px 14px;
  border: 1px solid var(--grey-border);
  border-radius: 4px;
  background-color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

.dropdownContainer {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  display: flex;
  overflow: hidden;
  overflow: auto;
  width: 100%;
  max-height: 170px;
  flex-direction: column;
  align-items: start;
  border: 1px solid var(--grey-border);
  border-radius: 0 0 4px 4px;
  border-top: none;
  background-color: var(--white);
}

.dropdownOption {
  display: flex;
  width: 100%;
  padding: 11px 14px;
  background-color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

.dropdownOption:hover {
  background-color: var(--grey-border);
  color: var(--blue);
}
