.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.resetButton {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
}

.errorMessage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  font-size: 20px;
  user-select: none;
}
.errorMessage span {
  margin-right: 8px;
}
