.item {
  position: relative;
  display: block;
  overflow: hidden;

  width: 124px;
  min-width: 124px;
  height: 124px;
  min-height: 124px;
  padding: 12px;
  border-radius: 8px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}
