@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:400,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap);



@font-face {
  font-display: swap;
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  src: url("/icons.woff2") format("woff2"), url("/icons.woff") format("woff");
}

[class*=_icon-]:before {
  display: block;
  font-family: "icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;

  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



._icon-arrow:before {
  content: "\e900";
}

._icon-folder:before {
  content: "\e901";
}

._icon-heart:before {
  content: "\e902";
}

._icon-plus:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  min-width: 320px;

  height: 100%;
}

body {
  height: 100%;
  background: #fff;

  min-width: 320px;
  color: #6C7072;
  line-height: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}



.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}



[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #083644;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5.625rem;
}

.header__back-button {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  line-height: 1;


  -webkit-box-align: center;
  align-items: center;
      -ms-flex-align: center;
      justify-content: flex-start;

  -webkit-box-pack: start;
      -ms-flex-pack: start;
  padding-left: 1.875rem;
  position: relative;
}

.header__back-button:hover {
  color: #6acae7;
  -webkit-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}

.header__back-button:active {
  color: #dfc2eb;
}

.header__back-button::before {
  line-height: 1.4;
  font-size: 1.125rem;
  position: absolute;
  top: 0;
  left: 1.6875rem;
  -webkit-transform: translateX(-14px);
      -ms-transform: translateX(-14px);
          transform: translateX(-14px);
}

.header__actions {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  line-height: 1.32;
}

.actions-header__action {
  padding: 0 3px;
}

.actions-header__action:hover {
  color: #6acae7;
  -webkit-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}

.actions-header__action:active {
  color: #dfc2eb;
}



.main__container {
  margin-top: 5.5rem;
}

.form {
  gap: 0.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.75rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 0.75rem 1fr 0.75rem 1fr 0.75rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "A A" "B C" "D D" "E E";
  position: relative;
}

.form__artist {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: A;
}

.form__genre {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: B;
}

.form__decade {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: C;
}

.form__country {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: D;
}

.form__action {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: E;
}

.input {
  font-family: "Plus Jakarta Sans", Helvetica;
  display: block;
  padding: 0.5625rem;
  border: 1px solid #EDEEF0;
  width: 100%;
  min-height: 2.625rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #3e3f3f;
}

.input::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #6C7072;
}

.input::-moz-placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #6C7072;
}

.input:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #6C7072;
}

.input::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #6C7072;
}

.input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #6C7072;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Plus Jakarta Sans", Helvetica;
  display: block;
  padding: 0.6875rem;
  border: 1px solid #EDEEF0;
  min-height: 2.625rem;
  width: 100%;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #6C7072;
  position: relative;
}

.select:focus {
  border-color: #3f2907;
}

.button {
  padding: 0.6875rem;
  background: #083644;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  width: 21.875rem;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::before {
  display: block;
  position: absolute;
  -webkit-transform: rotate(270deg) translate(100%, -0.9375rem);
      -ms-transform: rotate(270deg) translate(100%, -0.9375rem);
          transform: rotate(270deg) translate(100%, -0.9375rem);
  top: 50%;
  right: 0;
  color: #083644;
  z-index: 2;
}

.select-wrapper:focus-within::before {
  -webkit-transform: rotate(90deg) translate(-100%, 0.9375rem);
      -ms-transform: rotate(90deg) translate(-100%, 0.9375rem);
          transform: rotate(90deg) translate(-100%, 0.9375rem);
}

.output {
  margin-top: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(161px, 1fr) minmax(161px, 1fr);
  grid-template-columns: minmax(161px, 1fr) minmax(161px, 1fr);
  gap: 0.125rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.3125rem;
  word-wrap: break-word;
  font-family: "Plus Jakarta Sans";
  position: relative;
}

.card:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card__img {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__img:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card__like {
  background: #fff;
  border-radius: 0.25rem;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

.card__like::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  color: #083644;
}

.card__title {
  color: #083644;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
}

.card__title:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.card__name {
  color: #083644;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}

.card__name:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.card__year-title {
  color: #738286;
  font-size: 0.875rem;
  font-weight: 400;
}

.card__year-folder {
  color: #083644;
  font-size: 0.875rem;
  font-weight: 400;
}

.card__year-folder:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.card__style-folder {
  color: #083644;
  font-size: 0.875rem;
  font-weight: 400;
}

.card__style-folder:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.card__style-title {
  color: #738286;
  font-size: 0.875rem;
  font-weight: 400;
}

.card__country-folder {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #083644;
  font-size: 0.875rem;
  font-weight: 400;
}

.card__country-folder:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.card__country-title {
  color: #738286;
  font-size: 0.875rem;
  font-weight: 400;
}

.card__add-button {
  min-height: 2.75rem;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  background: #083644;
}

.card__add-button-text {
  color: #fff;
  position: relative;
}

.card__add-button-text::before {
  font-size: 0.875rem;
  top: 10%;
  left: 2.1875rem;
  position: absolute;
}

@media (min-width: 61.99875em) {
  .form {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-areas: "A B C D" "E E E E";
    grid-template-rows: 1fr 1fr;

  }

  .button {
    width: 21.875rem;
  }
      -ms-grid-column: 1;
  .form__artist {
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;

  }
  .form__genre {
    -ms-grid-column: 2;
    -ms-grid-row: 1;

  }
  .form__decade {
    -ms-grid-column: 3;

    -ms-grid-row: 1;
  }
  .form__country {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;


  }
      -ms-grid-column: 1;
  .form__action {
    -ms-grid-column-span: 4;
    -ms-grid-row: 2;


  }
}

@media (min-width: 75.625em) {
  .header__actions {
    gap: 1.625rem;
  }

  .main__container {
    margin-top: 8.75rem;
  }

  .card__img {
    min-height: 16.25rem;
  }

}

@media (max-width: 340px) {
  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
        grid-template-areas: "A" "B" "C" "D" "E";
  }
  .form__artist {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;


  }
  .form__genre {
        -ms-grid-column: 1;
    -ms-grid-row: 2;

  }
  .form__decade {
        -ms-grid-column: 1;
    -ms-grid-row: 3;

  }
  .form__country {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 4;


  }
  .form__action {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 5;


  }
}

@media (max-width: 20em) {
  .header__actions {
    gap: 1.218125rem;
  }

  .main__container {
    margin-top: 5.2225625rem;
  }

  .card__img {
    min-height: 9.4375rem;
  }


}

@media (min-width: 0em) and (max-width: 90em) {
@supports (min-height: clamp( 3.225rem , 3.225rem  +  2.6666666667vw , 5.625rem )) {
    .header__container {
      min-height: clamp( 3.225rem , 3.225rem  +  2.6666666667vw , 5.625rem );
    }
}

@supports not (min-height: clamp( 3.225rem , 3.225rem  +  2.6666666667vw , 5.625rem )) {
    .header__container {
      min-height: calc(3.225rem + 2.4 * (100vw - 0rem) / 90);
    }
}
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (font-size: clamp( 1.1rem , 0.9857142857rem  +  0.5714285714vw , 1.5rem )) {
    .header__back-button {
      font-size: clamp( 1.1rem , 0.9857142857rem  +  0.5714285714vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.1rem , 0.9857142857rem  +  0.5714285714vw , 1.5rem )) {
    .header__back-button {
      font-size: calc(1.1rem + 0.4 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 0.858125rem , 0.8533035714rem  +  0.0241071429vw , 0.875rem )) {
    .header__back-button::before {
      font-size: clamp( 0.858125rem , 0.8533035714rem  +  0.0241071429vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.858125rem , 0.8533035714rem  +  0.0241071429vw , 0.875rem )) {
    .header__back-button::before {
      font-size: calc(0.858125rem + 0.016875 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 0.858125rem , 0.781875rem  +  0.38125vw , 1.125rem )) {
    .header__actions {
      font-size: clamp( 0.858125rem , 0.781875rem  +  0.38125vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.858125rem , 0.781875rem  +  0.38125vw , 1.125rem )) {
    .header__actions {
      font-size: calc(0.858125rem + 0.266875 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (gap: clamp( 1.218125rem , 1.0718328652rem  +  0.7314606742vw , 1.625rem )) {
    .header__actions {
      gap: clamp( 1.218125rem , 1.0718328652rem  +  0.7314606742vw , 1.625rem );
    }
}

@supports not (gap: clamp( 1.218125rem , 1.0718328652rem  +  0.7314606742vw , 1.625rem )) {
    .header__actions {
      gap: calc(1.218125rem + 0.406875 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-top: clamp( 5.2225625rem , 3.9542703652rem  +  6.3414606742vw , 8.75rem )) {
    .main__container {
      margin-top: clamp( 5.2225625rem , 3.9542703652rem  +  6.3414606742vw , 8.75rem );
    }
}

@supports not (margin-top: clamp( 5.2225625rem , 3.9542703652rem  +  6.3414606742vw , 8.75rem )) {
    .main__container {
      margin-top: calc(5.2225625rem + 3.5274375 * (100vw - 20rem) / 55.625);
    }
}

@supports (min-height: clamp( 9.4375rem , 6.9880617978rem  +  12.2471910112vw , 16.25rem )) {
    .card__img {
      min-height: clamp( 9.4375rem , 6.9880617978rem  +  12.2471910112vw , 16.25rem );
    }
}

@supports not (min-height: clamp( 9.4375rem , 6.9880617978rem  +  12.2471910112vw , 16.25rem )) {
    .card__img {
      min-height: calc(9.4375rem + 6.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (min-width: clamp( 9.4375rem , 6.9880617978rem  +  12.2471910112vw , 16.25rem )) {
    .card__img {
      min-width: clamp( 9.4375rem , 6.9880617978rem  +  12.2471910112vw , 16.25rem );
    }
}

@supports not (min-width: clamp( 9.4375rem , 6.9880617978rem  +  12.2471910112vw , 16.25rem )) {
    .card__img {
      min-width: calc(9.4375rem + 6.8125 * (100vw - 20rem) / 55.625);
    }
}
}
