:root {
  --white: #fff;
  --black: #000;
  --dark-green: #083644;
  --dark-blue: #0a2530;
  --grey-btn: #f0f2f6;
  --grey-light: #738286;
  --grey-border: #edeef0;
  --grey: #6c7072;
  --error: #f00;
  --blue: #106081;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: flex;
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
  transition: opacity 0.3s;
}

.btn:hover {
  background-color: var(--grey);
  opacity: 0.95;
  transform: scale(1.03);
  transition: all 0.05s ease-out;
}
