:root {
  --white: #fff;
  --black: #000;
  --dark-green: #083644;
  --dark-blue: #0a2530;
  --grey-btn: #f0f2f6;
  --grey-light: #738286;
  --grey-border: #edeef0;
  --grey: #6c7072;
  --error: #f00;
  --blue: #106081;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ---------------------------------------------------- */

.header .main {
  padding-bottom: 36px;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 24px;
}

.item-block {
  width: calc(25% - 18px);
}

.item-block__image {
  position: relative;

  margin-bottom: 8px;
}

.item-block__image picture,
.item-block__image img {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.btn-add {
  width: 100%;
  background-color: var(--dark-blue);
}

.btn-collection {
  background-color: var(--blue);
}

.btn-add span,
.btn-collection span {
  position: relative;
  padding-right: 26px;
}

.item-block__info p span {
  color: var(--dark-blue);
}

.btn {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-green {
  background-color: var(--dark-green);
}

.btn-add span::before,
.btn-collection span::before {
  position: absolute;
  top: -75%;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  content: "+";
  font-size: 22px;
}

.choices__list,
.choices__list--single {
  padding: 0 !important;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar {
  width: 6px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-track {
  box-shadow: none;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
  background-image: linear-gradient
    (90deg, transparent 80%, var(--dark-blue) 80%, var(--dark-blue) 100%);
  outline: none;
}

.choices__list--dropdown .choices__item {
  color: var(--grey);
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.choices[data-type*="select-one"]::after {
  width: 24px !important;
  height: 24px !important;
  border: none !important;
  background-position: center 10px;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.choices[data-type*="select-one"].is-open::after {
  margin-top: 0 !important;
  transform: translateY(-50%) rotate(-180deg);
}

@media screen and (width <= 768px) {
  .list-items {
    gap: 16px;
  }

  .item-block {
    width: calc(33% - 9px);
  }
}
