.main {

	&__container {
		margin-top: rem(88);
		@include adaptiveValue("margin-top", 140, 83.561);
	}
}

.form {
	gap: rem(12);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: "A A" "B C" "D D" "E E";

	@media (min-width:$tablet) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "A B C D" "E E E E";
	}

	@media (max-width: 340px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "A" "B" "C" "D" "E";
	}


	position: relative;

	&__artist {
		grid-area: A;
	}

	&__genre {
		grid-area: B;
	}

	&__decade {
		grid-area: C;

	}

	&__country {
		grid-area: D;
	}

	&__action {
		display: flex;
		justify-content: center;
		grid-area: E;
	}

	//========================================================================================================================================================

	&__button {}

	&__select {}

	&__input {}
}

.input {
	font-family: $fontFamily;
	display: block;
	padding: rem(9);
	border: 1px solid #EDEEF0;
	width: 100%;
	min-height: rem(42);
	border-radius: rem(4);

	font-size: rem(16);
	font-weight: 400;
	line-height: 1;
	color: #3e3f3f;

	&::placeholder {
		font-size: rem(16);
		font-weight: 400;
		line-height: 1;
		color: #6C7072;
	}
}

.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: $fontFamily;
	display: block;
	padding: rem(11);
	border: 1px solid #EDEEF0;
	min-height: rem(42);
	width: 100%;
	border-radius: rem(4);

	&:focus {
		border-color: #3f2907;
	}

	font-size: rem(16);
	font-weight: 400;
	line-height: 1;
	color: #6C7072;
	position: relative;



}



.button {

	background: $accentColor;
	color: $accentSecondColor;

	width: 100%;
	padding: rem(11);
	border-radius: rem(4);
	font-size: rem(16);
	width: rem(350);

	@media (min-width:$tablet) {
		width: rem(350);
	}

}

.select-wrapper {
	position: relative;

	&::before {
		display: block;
		position: absolute;
		transform: rotate(270deg) translate(100%, rem(-15));
		top: 50%;
		right: 0;
		color: $accentColor ;
		z-index: 2;
		// transform: ;
	}

	&:focus-within::before {
		transform: rotate(90deg) translate(-100%, rem(15));
	}
}


.output {

	margin-top: 12px;
	display: grid;
	grid-template-columns: minmax(161px, 1fr) minmax(161px, 1fr);

	gap: rem(2);

	&__card {}
}

.card {
	display: flex;
	flex-direction: column;
	padding: 0 rem(5);
	word-wrap: break-word;

	font-family: "Plus Jakarta Sans";
	position: relative;

	&:not(:last-child) {
		margin-bottom: rem(10);
	}

	&__img {
		// width: rem(169);
		width: 100%;
		@include adaptiveValue("min-height", 260, 151);
		@include adaptiveValue("min-width", 260, 151);
		border-radius: rem(8);
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	&__like {

		background: $backgroundMainColor;
		border-radius: rem(4);
		width: 24px;
		height: 24px;
		position: absolute;
		top: rem(10);
		left: rem(10);


		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			color: $accentColor;
		}
	}


	&__title {
		color: $accentColor;
		width: 100%;
		font-size: rem(14);

		font-weight: 700;
		line-height: 1;

		&:not(:last-child) {
			margin-bottom: rem(3);
		}
	}

	&__name {
		color: $accentColor;
		font-size: rem(14);
		font-weight: 500;
		line-height: 1;

		&:not(:last-child) {
			margin-bottom: rem(7);
		}
	}


	&__year-title {
		color: #738286;
		font-size: rem(14);
		font-weight: 400;
	}

	&__year-folder {
		color: $accentColor;
		font-size: rem(14);
		font-weight: 400;

		&:not(:last-child) {
			margin-bottom: rem(3);
		}
	}

	&__style-folder {
		color: $accentColor;
		font-size: rem(14);
		font-weight: 400;

		&:not(:last-child) {
			margin-bottom: rem(3);
		}
	}

	&__style-title {
		color: #738286;
		font-size: rem(14);
		font-weight: 400;
	}


	&__country-folder {
		flex: 1 1 auto;
		color: $accentColor;
		font-size: rem(14);
		font-weight: 400;

		&:not(:last-child) {
			margin-bottom: rem(11);
		}
	}

	&__country-title {
		color: #738286;
		font-size: rem(14);
		font-weight: 400;
	}



	&__add-button {
		min-height: rem(44);
		border-radius: rem(4);
		display: block;
		width: 100%;
		background: $accentColor;

	}

	&__add-button-text {
		color: $accentSecondColor;
		position: relative;

		&::before {
			font-size: rem(14);
			top: 10%;
			left: rem(35);
			position: absolute;

		}
	}

}