.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  font-size: 5rem;
}

.description {
  width: 50%;
  margin-bottom: 2rem;
  color: var(--error);
  font-size: 1.2rem;
}

.link {
  color: blue;
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase;
}
