.notificationEnter {
  opacity: 0;
  transform: translateY(100%);
}

.notificationEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.notificationExit {
  opacity: 1;
  transform: translateY(0);
}

.notificationExitActive {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 300ms, transform 300ms;
}

/* .notifications {
  position: absolute;
  top: 0;
  left: 0;
} */

.notificationContainer {
  position: absolute;
  top: 0;
  left: 0;
}
