.item-block {
  width: calc(25% - 18px);
}

.image {
  position: relative;
  margin-bottom: 8px;
}

.image picture,
.image img {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.fav {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
}

.fav.active path {
  fill: #fd0162;
}

.name {
  margin-bottom: 3px;
  color: var(--dark-blue);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.group {
  margin-bottom: 7px;
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.info p {
  margin-bottom: 8px;
  color: var(--grey-light);
  font-size: 14px;
  line-height: 18px;
}

.btn-add {
  position: relative;
  width: 100%;
  background-color: var(--dark-blue);
}

.btn-collection {
  background-color: var(--blue);
}

.btn-add span::after {
  width: 20px;
  height: 20px;
  margin-left: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  content: "+";
  font-size: 16px;
}
