.block {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid var(--grey-btn);
  border-radius: 8px;
  background-color: var(--white);
  text-wrap: nowrap;
  transition: all 0.1s;
}

.block:hover {
  border-color: var(--grey-light);
}

.image {
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 8px;
  aspect-ratio: 1;
}

.image picture,
.image img {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.name {
  overflow: hidden;
  margin-bottom: 3px;
  color: var(--dark-blue);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.group {
  overflow: hidden;
  margin-bottom: 8px;
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info p {
  overflow: hidden;
  margin-bottom: 8px;
  color: var(--grey-light);
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.root {
  fill: var(--white);
}
